---
layout: default
title: GitLab.com Feature Comparison
description: Compares features across different plans in GitLab
suppress_header: true
extra_css:
  - pricing.css
  - compared.css
  - experiments.css
extra_js:
  - bootstrap-tooltip.js
  - comparison.js
extra_font:
  - "Roboto+Slab"
---
.content-container
  .container
    %h2.faq-title.text-center
      GitLab.com Feature Comparison





    <script data-cookieconsent="ignore" crossorigin="anonymous" src="https://unpkg.com/launchdarkly-js-client-sdk@2"></script>
    <script src="/javascripts/run-experiment.js" type="text/javascript" data-cookieconsent="ignore"></script>
    %script{type: "text/javascript", "data-cookieconsent": "ignore"}
      :plain
        runExperiment('8842', 'pricing-8842', null, null, 'production', false, 1209600);
    %div.experiment-outer-wrapper{id: "experiment8842"}
      %span.loading-experiment 
      = partial "/experiments/feature-comparison-saas-control"
      = partial "/experiments/feature-comparison-saas-test"





    .text-center
      = link_to "Contact Us", "/sales/", class: "featured-item-cta-btn contact-us-button"
  = partial "includes/features/gitlab-pricing-trial"