.row
  .hidden-xs.hidden-sm.col-lg-4.col-lg-offset-1
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/wmtZKC8m2ew", :width => "560"}
  .col-xs-12.col-md-6
    %h2 GitLab Agile Project Management
    %p
      GitLab's project management tools provide end-to-end traceability by connecting Epics and Issues to your merge requests and DevOps pipelines!
%hr.divider
