.row.more-features
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Features
    %ul
      %li
        %b Multi-platform:
        you can execute builds on Unix, Windows, macOS, and any other platform that supports Go.
      %li
        %b Multi-language:
        build scripts are command line driven and work with Java, PHP, Ruby, C, and any other language.
      %li
        %b Stable:
        your builds run on a different machine than GitLab.
      %li
        %b Parallel builds:
        GitLab CI/CD splits builds over multiple machines, for fast execution.
      %li
        %b Realtime logging:
        a link in the merge request takes you to the current build log that updates dynamically.
      %li
        %b Flexible pipelines:
        you can define multiple parallel jobs per stage and you can
        = succeed "." do
          %a{href: "https://docs.gitlab.com/ee/ci/triggers/"} trigger other builds
      %li
        %b Versioned pipelines:
        a
        %a{href: "https://docs.gitlab.com/ee/ci/yaml/"} .gitlab-ci.yml file
        contains your tests and overall process steps, allowing everyone to contribute changes and ensuring every branch gets the pipeline it needs.
      %li
        %b Autoscaling:
        you can
        = link_to "automatically spin up and down VM's", "/blog/2016/03/29/gitlab-runner-1-1-released/"
        to make sure your builds get processed immediately and minimize costs.
      %li
        %b Build artifacts:
        you can upload binaries and other
        %a{href: "https://docs.gitlab.com/ee/ci/build_artifacts/"} build artifacts
        to GitLab and browse and download them.
      %li
        %b Test locally
        there are
        %a{href: "https://docs.gitlab.com/runner/executors/"} multiple executors
        and you can
        = succeed "." do
          %a{href: "https://gitlab.com/gitlab-org/gitlab-runner/issues/312"} reproduce tests locally
      %li
        %b Docker support:
        you can use custom Docker images, spin up
        %a{href: "https://docs.gitlab.com/ee/ci/services/"} services
        as part of testing,
        = succeed "," do
          %a{href: "https://docs.gitlab.com/ee/ci/docker/using_docker_build.html"} build new Docker images
        even run on Kubernetes.
      %li
        %b Container Registry:
        %a{href: "https://docs.gitlab.com/ee/user/project/container_registry.html"} built-in container registry
        to store, share, and use container images.
      %li
        %b Protected variables:
        securely store and use secrets during deployments using per environment
        %a{href: "https://docs.gitlab.com/ee/ci/variables/README.html#protected-variables"} protected variables
      %li
        %b Environments:
        define multiple environments including temporary
        %a{href: "https://about.gitlab.com/features/review-apps/"} Review Apps
        , see deployment history for every environment.

  .col-xs-1.col-md-1
%hr.divider/
